body{
	margin:0;
	padding:0;
	background-color: #34495e;
	display:flex;
	align-items:center;
	justify-content: center;
	height:100%;
	overflow:hidden;
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;

	-webkit-animation: rainbow 12s ease infinite;
	-z-animation: rainbow 12s ease infinite;
	-o-animation: rainbow 12s ease infinite;
	animation: rainbow 12s ease infinite;
}

.pc{
	display: block;
}

.mobile{
	display: none;
}

.wheel{
	position: relative;
	width: 500px;
	height: 500px;
}

.pcBox{
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 50%;
	border: 7px solid silver;
	outline: 15px solid black;
	overflow: hidden;
	transition:all ease 5s;
}

.mobileBox{
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 50%;
	border: 3px solid silver;
	outline: 6px solid black;
	overflow: hidden;
	transition:all ease 5s;
}

#slice{
	width: 50%;
	height: 50%;
	display: inline-block;
	position: absolute;
}

.pcPointerBox{
	left:95%;	
	top:50%;
	width: 50px;
	height: 60px;
	position: absolute;
}

.mobilePointer{
	left:91.5%;	
	top:50%;
	width: 25px;
	height: 13.5px;
	position: absolute;
}

.pointer{
	clip-path: polygon(0% 50%, 100% 90%, 100% 10%);
	background-color: black;
	color: black;
}


.rotatedBox{
	width: 100%;
	height: 100%;
	transform: rotate(-135deg);
}

.slice1{
	clip-path: polygon(0 92%, 100% 50%, 0 8%);
	background-color: 	rgb(255, 0, 0);
	top:125px;
	left: 0;
}

.slice2{
	clip-path: polygon(100% 92%, 0% 50%, 100% 8%);
	background-color: 	rgb(238, 130, 238);
	top: 125px;
	right: 0;
}

.slice3{
	clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
	background-color: rgb(0, 204, 255);
	bottom:0px;
	left: 125px;
}

.slice4{
	clip-path: polygon(50% 100%, 92% 0%, 8% 0%);
	background-color: rgb(255, 255, 0);
	top:0px;
	left: 125px;
}

.slice5{
	clip-path: polygon(0 92%, 100% 50%, 0 8%);
	background-color: rgb(253, 173, 0);
	top:125px;
	left: 0;
}


.slice6{
	clip-path: polygon(100% 92%, 0% 50%, 100% 8%);
	background-color: rgb(0, 128, 0);
	top: 125px;
	right: 0;
}

.slice7{
	clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
	background-color: 		rgb(0, 0, 255);
	bottom:0px;
	left: 125px;
}

.slice8{
	clip-path: polygon(50% 100%, 92% 0%, 8% 0%);
	background-color: 		rgb(75, 0, 130);
	top:0px;
	left: 125px;
}

.rotate{
	position: absolute;
	top: 51.5%;
	left: 51.5%;
	transform: translate(-50%, -50%);
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 2px solid black;
	background:rgba(255,255,255, 1);
	text-align: center;
	color: green;
	font-weight: 100;
	font-size: 22px;
	animation: pulse 2s infinite;
	animation-delay: 8s;
}

.rotate:hover{
	width: 80px;
	height: 80px;
	animation-name: none;
}

.rotate:active{
	width: 65px;
	height: 65px;
	animation-name: none;
}

.pointerBox{
	left:95%;	
	top:50%;
	width: 50px;
	height: 60px;
	position: absolute;
}

.pointer{
	clip-path: polygon(0% 50%, 100% 90%, 100% 10%);
	background-color: black;
	color: black;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media only screen and (max-width: 590px) {
	.pc {
		display: none;
	}

	.mobile{
		display: block;
	}

	.wheel{
		width: 200px;
		height: 200px;
	}

	#slice{
		width: 50%;
		height: 50%;
	}

	.slice1{
		top:50px;
		left: 0;
	}

	.slice2{
		top: 50px;
		right: 0px;
	}

	.slice3{
		bottom:0px;
		left: 50px;
	}

	.slice4{
		top:0px;
		left: 50px;
	}

	.slice5{
		top:50px;
		left: 0;
	}

	.slice6{
		top: 50px;
		right: 0;
	}

	.slice7{
		bottom:0px;
		left: 50px;
	}

	.slice8{
		top:0px;
		left: 50px;
	}

  }